In [7]:
from numpy import NaN, NAN, nan #모두 누락치를 나타내는 특별 상수
import pandas as pd

In [5]:
NaN==0

False

In [8]:
#판다스에는 누락값을 확인하는 메서드로 isnull이 있음
pd.isnull(NAN)

True

In [9]:
pd.notnull('hello')

True

In [10]:
pd.notnull(50)

True

In [12]:
visited=pd.read_csv("../data/survey_visited.csv")
survey=pd.read_csv("../data/survey_survey.csv")
visited
survey

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [14]:
visited

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [15]:
visited.merge(survey, left_on='ident', right_on='taken')

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [16]:
nan_data=pd.Series({'x':3,'y':nan})
nan_data

x    3.0
y    NaN
dtype: float64

In [18]:
mydf=pd.DataFrame({'name':['kim','lee'],'missing':[nan,NaN]})
mydf

  name  missing
0  kim      NaN
1  lee      NaN

In [25]:
gapminder=pd.read_csv("../data/gapminder.tsv", sep='\t')
gapminder
life_exp=gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp.loc[2000:2010,])

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [26]:
life_exp[life_exp.index>2000]

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [27]:
ebola=pd.read_csv("../data/country_timeseries.csv")
ebola

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,253,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,246,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,234,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,232,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,227,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,225,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#컬럼 단위 누락값이 아닌 값 개수 카운트
ebola.count()

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [30]:
num_missing=ebola.shape[0]-ebola.count()
num_missing

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

## 방법2

In [31]:
import numpy as np
#print(ebola.isnull()) #NaN인 경우 True
print(ebola['Cases_Guinea'].isnull())

      Date    Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
0    False  False         False           True              False
1    False  False         False           True              False
2    False  False         False          False              False
3    False  False          True          False               True
4    False  False         False          False              False
5    False  False         False          False              False
6    False  False         False           True              False
7    False  False         False          False              False
8    False  False         False           True              False
9    False  False         False          False              False
10   False  False          True          False               True
11   False  False         False           True              False
12   False  False          True          False               True
13   False  False         False           True              False
14   False  False          True          False               True
15   False  False         False           True              False
16   False  False          True          False               True
17   False  False         False           True              False
18   False  False          True          False               True
19   False  False         False          False              False
20   False  False         False           True              False
21   False  False          True          False               True
22   False  False         False           True              False
23   False  False          True          False               True
24   False  False         False           True              False
25   False  False          True          False               True
26   False  False          True          False              False
27   False  False         False           True               True
28   False  False         False           True              False
29   False  False          True          False               True
..     ...    ...           ...            ...                ...
92   False  False         False          False              False
93   False  False         False          False              False
94   False  False         False          False              False
95   False  False         False          False              False
96   False  False         False          False              False
97   False  False         False          False              False
98   False  False         False          False              False
99   False  False         False           True              False
100  False  False          True          False              False
101  False  False         False           True              False
102  False  False          True           True              False
103  False  False          True          False               True
104  False  False         False           True               True
105  False  False         False          False               True
106  False  False         False          False               True
107  False  False          True           True              False
108  False  False         False           True               True
109  False  False         False          False              False
110  False  False         False          False              False
111  False  False         False          False              False
112  False  False         False          False              False
113  False  False         False          False              False
114  False  False         False          False              False
115  False  False         False          False               True
116  False  False         False          False              False
117  False  False         False          False              False
118  False  False         False           True               True
119  False  False         False           True               True
120  False  False         False           True               True
121  False  False         False           True               True

     Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  \
0             True           True                True         True
1             True           True                True         True
2             True           True                True         True
3             True           True                True         True
4             True           True                True         True
5             True           True                True         True
6             True           True                True         True
7             True           True                True         True
8             True           True                True         True
9             True           True                True         True
10            True           True                True         True
11            True           True                True         True
12            True           True                True         True
13           False          False               False        False
14            True           True                True         True
15           False          False               False        False
16            True           True                True         True
17           False          False               False        False
18            True           True                True         True
19           False          False               False        False
20           False          False               False        False
21            True           True                True         True
22           False          False               False        False
23            True           True                True         True
24           False          False               False        False
25            True           True                True         True
26           False          False               False        False
27            True           True                True         True
28           False          False               False        False
29            True           True                True         True
..             ...            ...                 ...          ...
92            True           True                True         True
93            True           True                True         True
94            True           True                True         True
95            True           True                True         True
96            True           True                True         True
97            True           True                True         True
98            True           True                True         True
99            True           True                True         True
100           True           True                True         True
101           True           True                True         True
102           True           True                True         True
103           True           True                True         True
104           True           True                True         True
105           True           True                True         True
106           True           True                True         True
107           True           True                True         True
108           True           True                True         True
109           True           True                True         True
110           True           True                True         True
111           True           True                True         True
112           True           True                True         True
113           True           True                True         True
114           True           True                True         True
115           True           True                True         True
116           True           True                True         True
117           True           True                True         True
118           True           True                True         True
119           True           True                True         True
120           True           True                True         True
121           True           True                True         True

     Cases_Mali  Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  \
0          True          False            True               False
1          True          False            True               False
2          True          False           False               False
3          True           True           False                True
4          True          False           False               False
5          True          False           False               False
6          True          False            True               False
7          True           True           False               False
8          True          False            True               False
9          True          False           False               False
10         True           True           False                True
11         True          False            True               False
12         True           True           False                True
13        False          False            True               False
14         True           True           False                True
15        False          False            True               False
16         True           True           False                True
17        False          False            True               False
18         True           True           False                True
19        False          False           False               False
20        False          False            True               False
21         True           True           False                True
22        False          False            True               False
23         True           True           False                True
24        False          False            True               False
25         True           True           False                True
26        False           True           False               False
27         True          False            True                True
28        False          False            True               False
29         True           True           False                True
..          ...            ...             ...                 ...
92         True          False           False               False
93         True          False           False               False
94         True          False           False               False
95         True          False           False               False
96         True          False           False               False
97         True          False           False               False
98         True          False           False               False
99         True          False            True               False
100        True           True            True               False
101        True          False            True               False
102        True           True            True               False
103        True           True           False                True
104        True          False           False                True
105        True          False            True                True
106        True          False           False                True
107        True           True            True                True
108        True          False            True                True
109        True          False           False               False
110        True          False           False               False
111        True          False           False               False
112        True          False           False               False
113        True          False           False               False
114        True          False           False               False
115        True          False           False                True
116        True          False           False               False
117        True          False           False               False
118        True          False            True                True
119        True          False            True                True
120        True          False            True                True
121        True          False            True                True

     Deaths_Nigeria  Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  \
0              True            True                 True          True
1              True            True                 True          True
2              True            True                 True          True
3              True            True                 True          True
4              True            True                 True          True
5              True            True                 True          True
6              True            True                 True          True
7              True            True                 True          True
8              True            True                 True          True
9              True            True                 True          True
10             True            True                 True          True
11             True            True                 True          True
12             True            True                 True          True
13            False           False                False         False
14             True            True                 True          True
15            False           False                False         False
16             True            True                 True          True
17            False           False                False         False
18             True            True                 True          True
19            False           False                False         False
20            False           False                False         False
21             True            True                 True          True
22            False           False                False         False
23             True            True                 True          True
24            False           False                False         False
25             True            True                 True          True
26            False           False                False         False
27             True            True                 True          True
28            False           False                False         False
29             True            True                 True          True
..              ...             ...                  ...           ...
92             True            True                 True          True
93             True            True                 True          True
94             True            True                 True          True
95             True            True                 True          True
96             True            True                 True          True
97             True            True                 True          True
98             True            True                 True          True
99             True            True                 True          True
100            True            True                 True          True
101            True            True                 True          True
102            True            True                 True          True
103            True            True                 True          True
104            True            True                 True          True
105            True            True                 True          True
106            True            True                 True          True
107            True            True                 True          True
108            True            True                 True          True
109            True            True                 True          True
110            True            True                 True          True
111            True            True                 True          True
112            True            True                 True          True
113            True            True                 True          True
114            True            True                 True          True
115            True            True                 True          True
116            True            True                 True          True
117            True            True                 True          True
118            True            True                 True          True
119            True            True                 True          True
120            True            True                 True          True
121            True            True                 True          True

     Deaths_Mali
0           True
1           True
2           True
3           True
4           True
5           True
6           True
7           True
8           True
9           True
10          True
11          True
12          True
13         False
14          True
15         False
16          True
17         False
18          True
19         False
20         False
21          True
22         False
23          True
24         False
25          True
26         False
27          True
28         False
29          True
..           ...
92          True
93          True
94          True
95          True
96          True
97          True
98          True
99          True
100         True
101         True
102         True
103         True
104         True
105         True
106         True
107         True
108         True
109         True
110         True
111         True
112         True
113         True
114         True
115         True
116         True
117         True
118         True
119         True
120         True
121         True

[122 rows x 18 columns]

출력결과 True: NaN, 값이 없음 False(0): 값존재

In [32]:
np.count_nonzero(ebola['Cases_Guinea'].isnull())

29

In [ ]:
np.count_nonzero(rbola)