6천명 사용자, 4천편 영화, 백만개 영화평점 데이터 분석

In [20]:
import pandas as pd
import os
users=pd.read_csv("datasets/movielens/users.dat",
                  sep="::",header=None, names=['user_id','gender','age','occupation','zip'])
ratings=pd.read_csv("datasets/movielens/ratings.dat",
                  sep="::",header=None, names=['user_id','movie_id','rating','timestamp'])
movies=pd.read_csv("datasets/movielens/movies.dat",
                  sep="::",header=None, names=['movie_id','title','genres'])
movies

C:\Users\user\anac\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.
C:\Users\user\anac\lib\site-packages\ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

C:\Users\user\anac\lib\site-packages\ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [12]:
ratings

        movie_id  rating timestamp
1    F         1      10     48067
2    M        56      16     70072
3    M        25      15     55117
4    M        45       7     02460
5    M        25      20     55455
6    F        50       9     55117
7    M        35       1     06810
8    M        25      12     11413
9    M        25      17     61614
10   F        35       1     95370
11   F        25       1     04093
12   M        25      12     32793
13   M        45       1     93304
14   M        35       0     60126
15   M        25       7     22903
16   F        35       0     20670
17   M        50       1     95350
18   F        18       3     95825
19   M         1      10     48073
20   M        25      14     55113
21   M        18      16     99353
22   M        18      15     53706
23   M        35       0     90049
24   F        25       7     10023
25   M        18       4     01609
26   M        25       7     23112
27   M        25      11     19130
28   F        25       1     14607
29   M        35       7     33407
30   F        35       7     19143
...          ...     ...       ...
6011 M        35      15     80538
6012 M        35      15     02871
6013 F        25      20     32301
6014 M        45       1     80634
6015 F        25       9     80013
6016 M        45       1     37209
6017 F        35       7     21117
6018 M        35       1     48906
6019 M        25       0     10024
6020 M        50      16     10023
6021 M        25      12     08876
6022 M        25      17     57006
6023 M        25       0     43213
6024 M        25      12     53705
6025 F        25       1     32607
6026 M        35       6     11210
6027 M        18       4     20742
6028 M        18       4     94133
6029 F        25       1     23185
6030 M        25      17     32618
6031 F        18       0     45123
6032 M        45       7     55108
6033 M        50      13     78232
6034 M        25      14     94117
6035 F        25       1     78734
6036 F        25      15     32603
6037 F        45       1     76006
6038 F        56       1     14706
6039 F        45       0     01060
6040 M        25       6     11106

[6040 rows x 3 columns]

In [10]:
movies

        movie_id  title genres
1    F         1     10  48067
2    M        56     16  70072
3    M        25     15  55117
4    M        45      7  02460
5    M        25     20  55455
6    F        50      9  55117
7    M        35      1  06810
8    M        25     12  11413
9    M        25     17  61614
10   F        35      1  95370
11   F        25      1  04093
12   M        25     12  32793
13   M        45      1  93304
14   M        35      0  60126
15   M        25      7  22903
16   F        35      0  20670
17   M        50      1  95350
18   F        18      3  95825
19   M         1     10  48073
20   M        25     14  55113
21   M        18     16  99353
22   M        18     15  53706
23   M        35      0  90049
24   F        25      7  10023
25   M        18      4  01609
26   M        25      7  23112
27   M        25     11  19130
28   F        25      1  14607
29   M        35      7  33407
30   F        35      7  19143
...          ...    ...    ...
6011 M        35     15  80538
6012 M        35     15  02871
6013 F        25     20  32301
6014 M        45      1  80634
6015 F        25      9  80013
6016 M        45      1  37209
6017 F        35      7  21117
6018 M        35      1  48906
6019 M        25      0  10024
6020 M        50     16  10023
6021 M        25     12  08876
6022 M        25     17  57006
6023 M        25      0  43213
6024 M        25     12  53705
6025 F        25      1  32607
6026 M        35      6  11210
6027 M        18      4  20742
6028 M        18      4  94133
6029 F        25      1  23185
6030 M        25     17  32618
6031 F        18      0  45123
6032 M        45      7  55108
6033 M        50     13  78232
6034 M        25     14  94117
6035 F        25      1  78734
6036 F        25     15  32603
6037 F        45      1  76006
6038 F        56      1  14706
6039 F        45      0  01060
6040 M        25      6  11106

[6040 rows x 3 columns]

In [30]:
data=pd.merge(pd.merge(ratings,users),movies)
data

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,1193,5,978043535,M,18,4,61820,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,1193,3,978038981,M,25,8,24502,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,1193,4,978018995,M,45,17,98052,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,1193,4,977978345,M,18,4,94305,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,1193,4,977975061,M,25,4,92107,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,1193,4,978813972,M,18,12,77084,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,1193,5,977946400,M,25,0,96931,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,1193,5,977944039,M,50,1,56723,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,1193,5,977933866,M,25,2,30303,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,1193,4,977934292,F,50,1,55413,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,1193,4,977968584,F,35,3,98105,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,1193,4,977786172,M,56,1,49327,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,1193,5,977785864,F,25,0,60640,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,1193,5,977694161,F,45,1,02476,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,1193,5,977683596,F,56,9,85749,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,1193,5,977626632,M,45,0,98201,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,1193,3,977621789,F,25,16,78028,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,1193,2,982791053,F,1,10,19390,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,1193,5,1040737607,M,35,19,20871,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,1193,2,977546620,M,25,12,00926,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000179,4933,3084,3,962757020,M,25,15,94040,Home Page (1999),Documentary
1000180,4802,2218,2,1014866656,M,56,1,40601,Juno and Paycock (1930),Drama
1000181,4812,2308,2,962932391,M,18,14,25301,Detroit 9000 (1973),Action|Crime
1000182,4874,624,4,962781918,F,25,4,70808,Condition Red (1995),Action|Drama|Thriller
1000183,5059,1434,4,962484364,M,45,16,22652,"Stranger, The (1994)",Action
1000184,5947,1434,4,957190428,F,45,16,97215,"Stranger, The (1994)",Action
1000185,5077,1868,3,962417299,M,25,2,20037,"Truce, The (1996)",Drama|War
1000186,5944,1868,1,957197520,F,18,10,27606,"Truce, The (1996)",Drama|War
1000187,5105,404,3,962337582,M,50,7,18977,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,404,4,963402617,F,35,4,44485,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,404,5,959619841,M,25,17,27408,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,404,3,960127592,M,25,17,97401,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,2543,3,961546137,M,25,7,91436,Six Ways to Sunday (1997),Comedy
1000192,5754,2543,4,958272316,F,18,1,60640,Six Ways to Sunday (1997),Comedy
1000193,5227,591,3,961475931,M,18,10,64050,Tough and Deadly (1995),Action|Drama|Thriller
1000194,5795,591,1,958145253,M,25,1,92688,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,3656,5,960920392,M,56,0,55406,Lured (1947),Crime
1000196,5328,2438,4,960838075,F,25,4,91740,Outside Ozona (1998),Drama|Thriller
1000197,5334,3323,3,960796159,F,56,13,46140,Chain of Fools (2000),Comedy|Crime
1000198,5334,127,1,960795494,F,56,13,46140,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama
1000199,5334,3382,5,960796159,F,56,13,46140,Song of Freedom (1936),Drama
1000200,5420,1843,3,960156505,F,1,19,14850,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,286,3,960240881,F,35,17,45014,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,3530,4,959816296,F,35,17,94306,Smoking/No Smoking (1993),Comedy
1000203,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),Documentary
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary

## 성별에 따른 각 영화의 평균 평점 어떻게 구하나?
df.pivot_table(data(평점), index(영화제목), columns(성별))

In [39]:
g=data.groupby(["gender"]).mean()['rating']
print(g)
g=data.groupby(["gender"]).mean()
g

gender
F    3.620366
M    3.568879
Name: rating, dtype: float64

           user_id     movie_id    rating     timestamp        age  occupation
gender
F       3130.43738  1824.086212  3.620366  9.724327e+08  29.803855    6.722837
M       2989.88083  1879.092918  3.568879  9.721819e+08  29.716885    8.465514

In [53]:
mean_ratings=data.pivot_table('rating', index='title', columns='gender',aggfunc='mean' )

영화제목으로 그룹화 -> size함수 -> 영화 제목별 평점 정보 건수 구하기

In [45]:
ratings_by_title=data.groupby('title').size()

In [48]:
ratings_by_title[:10]  #평점받은 건수 출력

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [57]:
active_titles=ratings_by_title.index[ratings_by_title>=250]
active_titles

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [99]:
mean_ratings=mean_ratings.ix[active_titles]
top_female_ratings=mean_ratings.sort_index(by='F', ascending=False)
top_female_ratings[:10]

C:\Users\user\anac\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
C:\Users\user\anac\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)

gender,F,M,diff
title,,,
"Close Shave, A (1995)",4.644444,4.473795,-0.170650
"Wrong Trousers, The (1993)",4.588235,4.478261,-0.109974
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950),4.572650,4.464589,-0.108060
Wallace & Gromit: The Best of Aardman Animation (1996),4.563107,4.385075,-0.178032
Schindler's List (1993),4.562602,4.491415,-0.071187
"Shawshank Redemption, The (1994)",4.539075,4.560625,0.021550
"Grand Day Out, A (1992)",4.537879,4.293255,-0.244624
To Kill a Mockingbird (1962),4.536667,4.372611,-0.164055
Creature Comforts (1990),4.513889,4.272277,-0.241612
"Usual Suspects, The (1995)",4.513317,4.518248,0.004931

In [102]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
df=DataFrame(np.random.randn(4,3),
            columns=list('bde'), #list로 만들어줘도 원소 하나씩으로 열 생성 가능하구나
            index=['seoul','busan','daegu','incheon'])
print(df)
format=lambda x: '%.2f' %x

s1=df['e'].map(format)

                b         d         e
seoul    1.172020  0.965808  0.987334
busan   -0.476438  2.187540  0.471000
daegu    0.996453  0.779009  0.910599
incheon  0.787510  0.344539  0.343468

In [66]:
s1

seoul      -0.55
busan       0.08
daegu       1.05
incheon     1.10
Name: e, dtype: object

In [67]:
df2=DataFrame(np.arange(8).reshape(2,4),
            columns=['d','a','b','c'],
              index=['three','one'])
df2

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [72]:
df2.sort_index() #행인덱스 기준 정렬
df2.sort_index(axis=1) #열인덱스 기준 정렬

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [77]:
df2.sort_index(axis=1, ascending=False) #열인덱스, 내림차순 정렬

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [78]:
obj=Series([4,7,-3,1])
obj

0    4
1    7
2   -3
3    1
dtype: int64

In [80]:
obj.sort_values(ascending=False)

1    7
0    4
3    1
2   -3
dtype: int64

In [82]:
df=DataFrame({'b':[4,7,-5,2],
             'a':[0,1,0,1]})
print(df.sort_values(by='b'))
print(df.sort_values(by='a'))
df.sort_values(by=['a','b']) #a기준으로 하되 값이 똑같으면 b기준으로 정렬

   b  a
2 -5  0
3  2  1
0  4  0
1  7  1
   b  a
0  4  0
2 -5  0
1  7  1
3  2  1

   b  a
2 -5  0
0  4  0
3  2  1
1  7  1

In [83]:
mean_ratings

gender                                                 F         M
title
$1,000,000 Duck (1971)                          3.375000  2.761905
'Night Mother (1986)                            3.388889  3.352941
'Til There Was You (1997)                       2.675676  2.733333
'burbs, The (1989)                              2.793478  2.962085
...And Justice for All (1979)                   3.828571  3.689024
1-900 (1994)                                    2.000000  3.000000
10 Things I Hate About You (1999)               3.646552  3.311966
101 Dalmatians (1961)                           3.791444  3.500000
101 Dalmatians (1996)                           3.240000  2.911215
12 Angry Men (1957)                             4.184397  4.328421
13th Warrior, The (1999)                        3.112000  3.168000
187 (1997)                                      2.428571  2.791667
2 Days in the Valley (1996)                     3.488889  3.244813
20 Dates (1998)                                 2.620690  2.918182
20,000 Leagues Under the Sea (1954)             3.670103  3.709205
200 Cigarettes (1999)                           3.169014  2.700000
2001: A Space Odyssey (1968)                    3.825581  4.129738
2010 (1984)                                     3.446809  3.413712
24 7: Twenty Four Seven (1997)                  5.000000  3.750000
24-hour Woman (1998)                            2.000000  1.600000
28 Days (2000)                                  3.209424  2.977707
3 Ninjas: High Noon On Mega Mountain (1998)     1.400000  1.351351
3 Strikes (2000)                                     NaN  2.750000
301, 302 (1995)                                 3.000000  2.857143
39 Steps, The (1935)                            3.965517  4.107692
400 Blows, The (Les Quatre cents coups) (1959)  4.489362  4.264286
42 Up (1998)                                    3.966667  4.362069
52 Pick-Up (1986)                               3.304348  3.299145
54 (1998)                                       2.701754  2.782178
7th Voyage of Sinbad, The (1958)                3.409091  3.658879
...                                                  ...       ...
Wrongfully Accused (1998)                       2.666667  2.540541
Wyatt Earp (1994)                               3.147059  3.283898
X-Files: Fight the Future, The (1998)           3.489474  3.493797
X-Men (2000)                                    3.682310  3.851702
X: The Unknown (1956)                           2.250000  3.125000
Xiu Xiu: The Sent-Down Girl (Tian yu) (1998)    3.821429  3.536585
Yankee Zulu (1994)                              3.000000  3.000000
Yards, The (1999)                               2.687500  3.360656
Year My Voice Broke, The (1987)                 4.000000  3.705882
Year of Living Dangerously (1982)               3.951220  3.869403
Year of the Horse (1997)                             NaN  3.250000
Yellow Submarine (1968)                         3.714286  3.689286
Yojimbo (1961)                                  4.423077  4.402116
You Can't Take It With You (1938)               4.192308  3.921569
You So Crazy (1994)                             3.666667  2.300000
You've Got Mail (1998)                          3.542424  3.275591
Young Doctors in Love (1982)                    1.923077  2.742424
Young Frankenstein (1974)                       4.289963  4.239177
Young Guns (1988)                               3.371795  3.425620
Young Guns II (1990)                            2.934783  2.904025
Young Poisoner's Handbook, The (1995)           4.000000  3.532258
Young Sherlock Holmes (1985)                    3.514706  3.363344
Young and Innocent (1937)                       2.500000  3.500000
Your Friends and Neighbors (1998)               2.888889  3.536585
Zachariah (1971)                                     NaN  3.500000
Zed & Two Noughts, A (1985)                     3.500000  3.380952
Zero Effect (1998)                              3.864407  3.723140
Zero Kelvin (Kj�rlighetens kj�tere) (1995)           NaN  3.500000
Zeus and Roxanne (1997)                         2.777778  2.357143
eXistenZ (1999)                                 3.098592  3.289086

[3706 rows x 2 columns]

In [100]:
mean_ratings['diff']=mean_ratings['M']-mean_ratings['F']
sorted_by_diff=mean_ratings.sort_values(by='diff')

In [101]:
sorted_by_diff[::-1] #거꾸로!!

gender                                              F         M      diff
title
Good, The Bad and The Ugly, The (1966)       3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)             2.878788  3.555147  0.676359
Dumb & Dumber (1994)                         2.697987  3.336595  0.638608
Longest Day, The (1962)                      3.411765  4.031447  0.619682
Cable Guy, The (1996)                        2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)           3.297297  3.909283  0.611985
Hidden, The (1987)                           3.137931  3.745098  0.607167
Rocky III (1982)                             2.361702  2.943503  0.581801
Caddyshack (1980)                            3.396135  3.969737  0.573602
For a Few Dollars More (1965)                3.409091  3.953795  0.544704
Porky's (1981)                               2.296875  2.836364  0.539489
Animal House (1978)                          3.628906  4.167192  0.538286
Exorcist, The (1973)                         3.537634  4.067239  0.529605
Fright Night (1985)                          2.973684  3.500000  0.526316
Barb Wire (1996)                             1.585366  2.100386  0.515020
Rocky II (1979)                              2.741379  3.242894  0.501515
Beavis and Butt-head Do America (1996)       2.637363  3.135417  0.498054
Big Trouble in Little China (1986)           2.987952  3.485030  0.497078
From Dusk Till Dawn (1996)                   2.735714  3.232558  0.496844
Wild Bunch, The (1969)                       3.636364  4.128099  0.491736
Akira (1988)                                 3.511111  3.980344  0.469233
Me, Myself and Irene (2000)                  2.629310  3.096847  0.467537
Kingpin (1996)                               3.092308  3.557480  0.465173
Where Eagles Dare (1969)                     3.384615  3.833333  0.448718
Reservoir Dogs (1992)                        3.769231  4.213873  0.444642
Raging Bull (1980)                           3.831933  4.263441  0.431508
Godzilla (Gojira) (1954)                     2.948718  3.374046  0.425328
South Park: Bigger, Longer and Uncut (1999)  3.422481  3.846686  0.424206
Eyes Wide Shut (1999)                        2.891213  3.305949  0.414736
Tommy Boy (1995)                             3.170732  3.585366  0.414634
...                                               ...       ...       ...
Parent Trap, The (1961)                      3.805556  3.393333 -0.412222
Sense and Sensibility (1995)                 4.233333  3.819277 -0.414056
Beverly Hills Cop III (1994)                 2.865385  2.443333 -0.422051
Hope Floats (1998)                           3.206186  2.782383 -0.423802
Iron Eagle (1986)                            2.968750  2.543933 -0.424817
Corrina, Corrina (1994)                      3.523490  3.092593 -0.430897
Skulls, The (2000)                           3.053333  2.621145 -0.432188
Sommersby (1993)                             3.482270  3.046667 -0.435603
Gone with the Wind (1939)                    4.269841  3.829371 -0.440471
South Pacific (1958)                         3.887850  3.445087 -0.442764
Jewel of the Nile, The (1985)                3.494253  3.048096 -0.446157
Casper (1995)                                3.291139  2.844444 -0.446695
Never Been Kissed (1999)                     3.452174  3.002538 -0.449636
Sound of Music, The (1965)                   4.233677  3.783418 -0.450259
Grease 2 (1982)                              2.243478  1.792553 -0.450925
Patch Adams (1998)                           3.473282  3.008746 -0.464536
Mary Poppins (1964)                          4.197740  3.730594 -0.467147
Guys and Dolls (1955)                        4.051724  3.583333 -0.468391
Little Shop of Horrors, The (1960)           3.650000  3.179688 -0.470312
French Kiss (1995)                           3.535714  3.056962 -0.478752
Free Willy (1993)                            2.921348  2.438776 -0.482573
Age of Innocence, The (1993)                 3.827068  3.339506 -0.487561
Color Purple, The (1985)                     4.158192  3.659341 -0.498851
Rocky Horror Picture Show, The (1975)        3.673016  3.160131 -0.512885
Anastasia (1997)                             3.800000  3.281609 -0.518391
Steel Magnolias (1989)                       3.901734  3.365957 -0.535777
Little Women (1994)                          3.870588  3.321739 -0.548849
Grease (1978)                                3.975265  3.367041 -0.608224
Jumpin' Jack Flash (1986)                    3.254717  2.578358 -0.676359
Dirty Dancing (1987)                         3.790378  2.959596 -0.830782

[1216 rows x 3 columns]